// Color Variables
$primary-color: #000;
$text-color: #999;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #CBCBCB;
$black: #000;
$white: #fff;
$light: #FAFAFA;

// Font Variables
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Libre Caslon Text', sans-serif;
$icon-font: 'FontAwesome';