/* Button style */
.btn {
  font-size: 14px;
  font-family: $primary-font;
  text-transform: capitalize;
  padding: 8px 25px;
  border-radius: 3px;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-primary {
  background: $primary-color;
  color: $white;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $primary-color !important;
    border-color: $primary-color !important;
  }
}

.btn-outline-primary {
  background: transparent;
  color: $text-color;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $primary-color !important;
    border-color: $primary-color !important;
    color: $white;
  }
}

.btn-link{
  color: $primary-color;
  border: 0;
  &:hover{
    color: $primary-color;
    text-decoration: none;
  }
}