{{ define "main" }}

<!-- post layout -->
<section class="section-sm">
  <div class="text-center">
    <h1 class="h2 section-title">{{ i18n "items_showing"}} {{ .Title }}</h1>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      {{ $paginator := .Paginate (where site.RegularPages "Section" "post") }}
      {{ if eq site.Params.layout.post "1"}}
      {{ range $paginator.Pages }}
      <div class="col-lg-5 col-sm-6">
        <article class="card">
          {{ if .Params.image }}
          <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="card-img-top">
          {{ end }}
          <div class="card-body text-center">
            <ul class="card-meta">
              {{ range $i,$p:= .Params.Categories }}{{if ne $i 0}},{{end}}
              <li><a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
              {{end}}
            </ul>
            <h4 class="card-title mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <p>{{ .Summary }}</p>
            <ul class="post-meta">
              <li><i class="fa fa-calendar"></i>{{ .PublishDate.Format "2/6/2006" }}
              </li>
              <li><i class="fa fa-clock-o"></i>{{ .Page.ReadingTime }}
                {{ i18n "minute_read" }}</li>
            </ul>
          </div>
        </article>
      </div>
      {{ end }}
      {{ end }}

      {{ if eq site.Params.layout.post "2"}}
      {{ range $index,$elements:= $paginator.Pages }}
      <div class="col-lg-10 mx-auto">
        {{ if eq $index 0 }}
        <div class="card card-xl">
          {{ else }}
          <div class="card card-lg mb-5">
            {{ end }}
            {{ if .Params.image }}
            <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="card-img-top">
            {{ end }}
            <div class="card-body text-center">
              <ul class="card-meta">
                {{ range $i,$p:= .Params.Categories }}{{if ne $i 0}},{{end}}
                <li><a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
                {{end}}
              </ul>
              <h4 class="card-title mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              <p>{{ .Summary }}</p>
              <ul class="post-meta">
                <li><i class="fa fa-calendar"></i>{{ .PublishDate.Format "2/6/2006" }}</li>
                <li><i class="fa fa-clock-o"></i>{{ .Page.ReadingTime }}
                  {{ i18n "minute_read" }}</li>
              </ul>
              <a href="{{ .Permalink }}" class="btn btn-link">{{ i18n "read_more" }} <i
                  class="fa fa-long-arrow-right ml-2"></i></a>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
      {{ partial "paginator.html" . }}
    </div>
</section>
<!-- /post layout -->

{{ end }}