.banner {
  padding: 160px 0 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-icons a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: $white;
  background-color: $primary-color;
  border-radius: 50%;
  display: block;
}

.card {
  border: 0;
  border-radius: 0;

  &-img-top {
    border-radius: 0;
    height: 400px;
    width: auto;
    object-fit: cover;

    @include desktop-lg {
      height: 300px;
    }

    @include desktop {
      height: 200px;
    }
  }
  &-body{
    background-color: $white;
  }

  &-meta {
    list-style-type: none;
    padding-left: 0;

    a {
      color: $text-color;
      border-bottom: 1px solid $border-color;
      text-transform: uppercase;
    }
  }

  &-title a {
    color: $text-color-dark;
  }
}

.card-xl{
  .card-body{
    transform: translateY(-100px);
    width: 80%;
    margin: 0 auto;
    padding: 30px 50px;
  }
  .card-img-top{
    height: 450px;
    @include desktop-lg {
      height: 400px;
    }
    @include tablet {
      height: 300px;
    }
  }
}

.card-lg{
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  @include tablet {
    width: 100%;
    flex-direction: column;
  }
  .card-img-top{
    height: 450px;
    width: 450px;
    @include desktop-lg {
      height: 400px;
      width: 400px;
    }
    @include tablet {
      width: 100%;
      height: 300px;
    }
  }
  .card-body{
    margin-left: -100px;
    padding: 40px;
    @include desktop-lg {
      padding: 20px;
    }
    @include tablet {
      width: 80%;
      margin: -100px auto 0 !important;
    }
  }
}

.post-meta{
  padding: 0;
  li{
    list-style-type: none;
    display: inline-block;
    a{
      color: $text-color;
    }
    i{
      color: $primary-color;
      margin-right: 5px;
    }
    &:not(:last-child){
      margin-right: 15px;
    }
  }
}

// pagination
.pagination {
  margin-top: 50px;
  justify-content: center;

  .page-item {
    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      background: $light;
      text-align: center;
      padding: 0;
      margin-right: 10px;
      border: 0;
      color: $text-color;

      &:hover {
        background: $primary-color;
        color: $white;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 50%;
      }
    }

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

// instagram post
.instafeed-full {
  .slick-list {
    overflow: visible;
  }
}

.instagram-post {
  position: relative;
  margin: 0 10px;
  display: block;

  img {
    height: 185px;
    width: 185px;
    object-fit: cover;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
  }
  &:hover::before{
    opacity: 1;
    visibility: visible;
  }
}


.footer-menu{
  a{
    padding: 5px 10px;
    color: $text-color-dark;
    &:hover{
      color: $primary-color;
    }
  }
}

// content style
.content {

  * {
    word-break: break-word;
    overflow-wrap: break-word;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  strong {
    font-weight: 600;
  }

  a {
    color: $text-color;
    border-bottom: 1px dotted $border-color;

    &:hover {
      color: $primary-color;
    }
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style-type: none;

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $primary-color;
        left: 3px;
        top: 8px;
      }
    }

  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
  }

  table td,
  table th {
    padding: .75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $light;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background: lighten($color: $light, $amount: 5);
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 2px;
    color: $white;
    font-family: "themify";
    font-weight: 900;
    content: "\e717";
    left: 10px;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: $light;
  }

  .notices.note p::after {
    content: 'Note';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.tip p {
    border-top: 30px solid #78C578;
    background: $light;
  }

  .notices.tip p::after {
    content: 'Tip';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #F0B37E;
    background: $light;
  }

  .notices.info p::after {
    content: 'Info';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.warning p {
    border-top: 30px solid #E06F6C;
    background: $light;
  }

  .notices.warning p::after {
    content: 'Warning';
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }


  blockquote {
    font-size: 20px !important;
    color: $text-color;
    padding: 20px 40px;
    border-left: 2px solid $primary-color;
    margin: 40px 0;
    font-weight: bold;
    background: $light;

    p {
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

// code-tab
.code-tabs {
  border: 1px solid $border-color;
  overflow: hidden;
  margin-bottom: 20px;

  .nav-tabs {
    margin-bottom: 0;

    .nav-item {
      padding-left: 0;
      border-right: 1px solid $border-color;

      .nav-link {
        text-decoration: none;
        font-weight: 500;
        border: 0;
      }

      &::before {
        display: none;
      }

      &.active {
        background: $primary-color;

        .nav-link {
          color: $white;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 15px;
  }
}

// skill-item
.skill-item{
  text-align: center;
  i{
    height: 180px;
    width: 180px;
    line-height: 180px;
    color: $text-color-dark;
    font-size: 40px;
    background-color: $white;
    box-shadow: 0 0 20px rgba($color: #222, $alpha: .04);
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
  }
}

.facts{
  ul{
    text-align: center;
    li{
      padding: 12px 0;
      margin: 0;
      list-style-type: none;
      &:not(:last-child){
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.portfolio-item{
  position: relative;
  text-align: center;
  overflow: hidden;
  .portfolio-content{
    position: absolute;
    top: -200px;
    left: 15px;
    width: calc( 100% - 30px);
    padding: 20px 30px;
    background-color: lighten($color: $primary-color, $amount: 10);
    color: $white;
    transition: .2s ease;
    @include desktop-lg {
      padding: 15px;
    }
    @include desktop {
      zoom: .7;
    }
    *{
      color: inherit;
    }
  }
  &:hover{
    .portfolio-content{
      top: 15px;
    }
  }
}